<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>homecontroll</servlet-name>
        <servlet-class>MinhT.controll.homecontroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categorycontroller</servlet-name>
        <servlet-class>MinhT.controll.Categorycontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>MinhT.controll.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>MinhT.controll.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>MinhT.controll.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>MinhT.controll.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>MinhT.controll.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCart</servlet-name>
        <servlet-class>MinhT.controll.OrderCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubController</servlet-name>
        <servlet-class>MinhT.controll.SubController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>MinhT.controll.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartController</servlet-name>
        <servlet-class>MinhT.controll.ShowCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>MinhT.controll.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CongtoCartController</servlet-name>
        <servlet-class>MinhT.controll.CongtoCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>MinhT.controll.ManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePhoneController</servlet-name>
        <servlet-class>MinhT.controll.DeletePhoneController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>MinhT.controll.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>MinhT.controll.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadToEditController</servlet-name>
        <servlet-class>MinhT.controll.LoadToEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>MinhT.controll.EditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homecontroll</servlet-name>
        <url-pattern>/homecontroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categorycontroller</servlet-name>
        <url-pattern>/Categorycontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControll</servlet-name>
        <url-pattern>/LoginControll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginControll</servlet-name>
        <servlet-class>MinhT.controll.LoginControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCart</servlet-name>
        <url-pattern>/OrderCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubController</servlet-name>
        <url-pattern>/SubController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartController</servlet-name>
        <url-pattern>/ShowCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CongtoCartController</servlet-name>
        <url-pattern>/CongtoCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/ManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePhoneController</servlet-name>
        <url-pattern>/DeletePhoneController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadToEditController</servlet-name>
        <url-pattern>/LoadToEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
